.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.747000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.990000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.990000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.925293;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.939453;font-style:normal;font-weight:normal;visibility:visible;}
.m1{transform:matrix(0.249325,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.249325,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.249325,0.000000,0.000000,0.250000,0,0);}
.m2{transform:matrix(0.249327,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.249327,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.249327,0.000000,0.000000,0.250000,0,0);}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:-7.200000px;}
.ls4{letter-spacing:-1.644573px;}
.ls5{letter-spacing:-0.405511px;}
.ls2{letter-spacing:0.000000px;}
.ls1{letter-spacing:1.000000px;}
.ls6{letter-spacing:1.440000px;}
.ls7{letter-spacing:1.600000px;}
.ls3{letter-spacing:3.490900px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws3{word-spacing:-3.490900px;}
.ws6{word-spacing:-1.600000px;}
.ws5{word-spacing:-1.440000px;}
.ws1{word-spacing:-1.000000px;}
.ws2{word-spacing:0.000000px;}
.ws4{word-spacing:1.644573px;}
.ws0{word-spacing:7.200000px;}
._0{margin-left:-5.760000px;}
._2{margin-left:-2.200000px;}
._1{width:1.200000px;}
._4{width:3.421082px;}
._5{width:135.373156px;}
._6{width:2765.563856px;}
._9{width:4293.920000px;}
._8{width:4298.496000px;}
._7{width:4324.768000px;}
._3{width:4327.392000px;}
.fc1{color:rgb(255,255,255);}
.fc0{color:rgb(0,0,0);}
.fs4{font-size:22.528400px;}
.fs5{font-size:27.772400px;}
.fs2{font-size:32.000000px;}
.fs1{font-size:40.000000px;}
.fs3{font-size:69.818000px;}
.fs0{font-size:240.000000px;}
.y9{bottom:-1.663100px;}
.y0{bottom:0.000000px;}
.ye{bottom:21.259800px;}
.ya{bottom:23.916000px;}
.yc{bottom:25.651400px;}
.yd{bottom:27.247176px;}
.yb{bottom:33.988800px;}
.y8{bottom:586.531900px;}
.y7{bottom:598.531900px;}
.y6{bottom:610.531900px;}
.y5{bottom:622.531900px;}
.y4{bottom:646.531900px;}
.y3{bottom:658.531900px;}
.y2{bottom:670.531900px;}
.y1{bottom:762.171300px;}
.yf{bottom:822.635800px;}
.h7{height:16.401291px;}
.h8{height:20.246188px;}
.h5{height:25.312000px;}
.h4{height:31.640000px;}
.h6{height:50.829413px;}
.h3{height:176.400000px;}
.h1{height:806.500000px;}
.h9{height:808.000000px;}
.h2{height:827.471000px;}
.h0{height:850.394000px;}
.w2{width:1133.858000px;}
.w0{width:1133.860000px;}
.w1{width:1134.000000px;}
.x0{left:0.000000px;}
.x1{left:21.259900px;}
.x5{left:59.308600px;}
.x2{left:77.952800px;}
.x4{left:163.002800px;}
.x3{left:219.692800px;}
.x7{left:227.693400px;}
.x6{left:320.717800px;}
.x9{left:414.201200px;}
.xa{left:592.799800px;}
.x8{left:988.294680px;}
.xb{left:1089.811900px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:-9.600000pt;}
.ls4{letter-spacing:-2.192764pt;}
.ls5{letter-spacing:-0.540682pt;}
.ls2{letter-spacing:0.000000pt;}
.ls1{letter-spacing:1.333333pt;}
.ls6{letter-spacing:1.920000pt;}
.ls7{letter-spacing:2.133333pt;}
.ls3{letter-spacing:4.654533pt;}
.ws3{word-spacing:-4.654533pt;}
.ws6{word-spacing:-2.133333pt;}
.ws5{word-spacing:-1.920000pt;}
.ws1{word-spacing:-1.333333pt;}
.ws2{word-spacing:0.000000pt;}
.ws4{word-spacing:2.192764pt;}
.ws0{word-spacing:9.600000pt;}
._0{margin-left:-7.680000pt;}
._2{margin-left:-2.933333pt;}
._1{width:1.600000pt;}
._4{width:4.561443pt;}
._5{width:180.497541pt;}
._6{width:3687.418474pt;}
._9{width:5725.226667pt;}
._8{width:5731.328000pt;}
._7{width:5766.357333pt;}
._3{width:5769.856000pt;}
.fs4{font-size:30.037867pt;}
.fs5{font-size:37.029867pt;}
.fs2{font-size:42.666667pt;}
.fs1{font-size:53.333333pt;}
.fs3{font-size:93.090667pt;}
.fs0{font-size:320.000000pt;}
.y9{bottom:-2.217467pt;}
.y0{bottom:0.000000pt;}
.ye{bottom:28.346400pt;}
.ya{bottom:31.888000pt;}
.yc{bottom:34.201867pt;}
.yd{bottom:36.329568pt;}
.yb{bottom:45.318400pt;}
.y8{bottom:782.042533pt;}
.y7{bottom:798.042533pt;}
.y6{bottom:814.042533pt;}
.y5{bottom:830.042533pt;}
.y4{bottom:862.042533pt;}
.y3{bottom:878.042533pt;}
.y2{bottom:894.042533pt;}
.y1{bottom:1016.228400pt;}
.yf{bottom:1096.847733pt;}
.h7{height:21.868388pt;}
.h8{height:26.994917pt;}
.h5{height:33.749333pt;}
.h4{height:42.186667pt;}
.h6{height:67.772551pt;}
.h3{height:235.200000pt;}
.h1{height:1075.333333pt;}
.h9{height:1077.333333pt;}
.h2{height:1103.294667pt;}
.h0{height:1133.858667pt;}
.w2{width:1511.810667pt;}
.w0{width:1511.813333pt;}
.w1{width:1512.000000pt;}
.x0{left:0.000000pt;}
.x1{left:28.346533pt;}
.x5{left:79.078133pt;}
.x2{left:103.937067pt;}
.x4{left:217.337067pt;}
.x3{left:292.923733pt;}
.x7{left:303.591200pt;}
.x6{left:427.623733pt;}
.x9{left:552.268267pt;}
.xa{left:790.399733pt;}
.x8{left:1317.726240pt;}
.xb{left:1453.082533pt;}
}
